html {

	font-size : 62.5%;
}

* {
	box-sizing:border-box;
}

.a {
	text-decoration: none;
}

.upper {
	text-transform : uppercase;
}


.clearfix::after {
	content : "";
	display : block;
	clear : both;
}

.relative{
	position : relative;
}

.flex {
	display : flex;
	flex-wrap : wrap;
	flex-direction : row;
	justify-content : space-between;
}


body {
	color : black;
	background-color : rgb(226,236,208);
	font-family : "Open-sans", "serif";
	font-size : 2rem;
	margin : 0;
	text-align: center;
}

ul  {
	list-style-type : none;
	background-color : rgb(142,166,166);
	padding : 1.5rem;
	border-radius : 1.5rem;
}


caption {
	color : black;
	font-size : 3rem;
	margin-bottom: 2rem;

}

table {

	border : none;
}

table th {

	padding: 2rem;
}



/***************
     HEADER
***************/

header {
	text-align : left;
	padding : 5rem;
}

header nav a {
	background-color : rgb(142,166,166);
	color : rgb(226,236,208);
	padding : 1.5rem;
	text-decoration : none;
}


/***************
    ACCUEIL
***************/

table#bdc {
	width : 80%;
	margin : 0 auto;
	border-collapse : collapse;
	text-align : center;

}

table a {
	text-decoration : none;
	color : black;
	font-weight : bold;
}

tbody tr:first-child {
	background-color: none;
}

tbody tr:nth-child(even) {
	background-color: #AAA;
}

tbody tr:nth-child(odd) {
	background-color: #DDD;
}

table#bdc tfoot td {
	padding : 5px 5px;
	font-height : bold;
}

/*******************
   DETAIL COMMANDE
*******************/

#infoClient.flex {
	display : flex;
	flex-wrap : wrap;
	flex-direction : column;
	justify-content : space-between;
	align-items : flex-end; 
}


ul#infoClient {
	width : 30%;
}

#infoClient li {
	width : 100%;
	text-align : left;
	line-height : 1.8;
}

#infoClient li {
	width : 100%;
	text-align : left;
	line-height : 1.8;
}


ul#infoClient li:first-child {
	font-size : 3rem;
}

ul#infoClient li:nth-child(2) {
	font-size : 2.5rem;
}

.adrClient {
	width : 30%;
	text-align : left;
}

table#bdc tbody#detail tr td {
	text-align : right;
	padding-right : 1rem;
}

table#bdc tbody#detail tr td:first-child {
	text-align : left;
	padding-left : 1rem;
}


tbody tr td:first-child {
	text-align : left;
	padding-left : 1rem;
}

/***************
    FOOTER
**************/
footer {
	height : 10rem;
}

